.HeroSection{
    height: 41.5rem;
    /* background: linear-gradient(180deg,#0b0b1d,#073d53); */
    background-color: black;
    /* position: relative; */
    top: 4rem;
    overflow: hidden;   
}

.imgCont{
    height: 10rem;
    position: absolute;
    top: 12rem;
    right: 10rem;
}

.wrapperCont{
    max-width: 85rem;
    height: 100%;
    margin: auto;
}

.textCont{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .heroh2{
        font-size: 2rem;
        color: rgb(246, 246, 243);
        letter-spacing: 0.6rem;
        cursor: default;
    }

    .heroh1{
        font-size: 4rem;
        cursor: default;
        /* color: rgb(15, 240, 244); */
        /* color: rgb(11, 155, 238); */
        color: rgb(179, 119, 231);
    }

    .btnConta{
        .herobtn{
            padding: 1rem;
            background-color: transparent;
            color: lightgray;
            border-radius: 0.5rem;
            border: 1px solid lightgray;
            margin-right: 1.5rem; 
            font-size: medium;
            cursor: pointer;
        }

        .herobtn:hover{
            background-color: white;
            color: #0b0b1d;
        }

        .herobtncontact{
            background-color: white;
            color: black;
        }

        .herobtncontact:hover{
            background-color: black;
            color: white;
        }
    }
}

.movingText{
    position: absolute;
    font-size: 8rem;
    bottom: 1rem;
    /* white-space: nowrap; */
    /* color: #ffffff09; */
    color: #5a5a5a89;
    width: 100%;
    font-weight: 500;
    cursor: default;
    
}

.HeroSection::-webkit-scrollbar{
    display: none;
}

#homepic{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}


/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  .HeroSection {
    height: auto;
    padding: 4rem 2rem; /* Adjust as needed */
    text-align: center;
  }
  
  .imgCont {
    margin-top: 15rem;
    /* display: none; Hide the image on smaller screens */
  }
  
  .textCont {
    width: 100%;
    color: #fff; /* Add a color for text visibility */
  }
  
  .heroh2 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    color: #fff; /* Add a color for text visibility */
  }
  
  .heroh1 {
    font-size: 2.5rem;
    color: #fff; /* Add a color for text visibility */
  }
  
  .movingText {
    font-size: 4rem;
    color: #fff; /* Add a color for text visibility */
  }
  
  .btnConta {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    .herobtn {
      margin: 0;
    }
  }
}