.HeroSection{
    height: 41.5rem;
    background: linear-gradient(180deg,#0b0b1d,#073d53);
    /* position: relative; */
    top: 5rem;
    overflow: hidden;   
}

.imgCont{
    height: 10rem;
    position: absolute;
    top: 12rem;
    right: 5rem;
}

.wrapperCont{
    max-width: 85rem;
    height: 100%;
    margin: auto;
}

.textCont{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    h2{
        font-size: 2rem;
        color: rgb(110, 53, 167);
        letter-spacing: 0.8rem;
        cursor: default;
    }

    h1{
        font-size: 4rem;
        cursor: default;
    }

    .btnConta{
        button{
            padding: 1rem;
            background-color: transparent;
            color: lightgray;
            border-radius: 20%;
            border: 1px solid lightgray;
            margin-right: 1.5rem;
            cursor: pointer;
        }

        button:hover{
            background-color: white;
            color: #0b0b1d;
        }
    }
}

.movingText{
    position: absolute;
    font-size: 8rem;
    bottom: 1rem;
    /* white-space: nowrap; */
    color: #ffffff09;
    width: 100%;
    font-weight: 500;
    cursor: default;
    
}

.HeroSection::-webkit-scrollbar{
    display: none;
}

