.project{

    position: relative;
}

.project-cont{
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 1rem;
    text-align: center;
    color: orange;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lineLen{
    height: 0.5rem;
    background-color: white;
    width: 70%;       
}

.eachProjectCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.eachProjectTextCont{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.eachProjectWrapper{
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.eachProjectImgCont{
    flex: 1;
    height: 50%;

    img{
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }
}

.eachProjecth2{
    font-size: 3rem;
}

.eachProjectp{
    font-size: 2rem;
    color: gray;
    font-family: "Pacifico",cursive;
}

.eachProjectButton{
    background-color: orange;
    border: none;
    border-radius: 15%;
    padding: 1rem;
    width: 10rem;
    font-weight: 600;
    font-size: large;
}

a{
    cursor: pointer;
}

.eachProjectButtonCont{
    display: flex;
    gap: 3rem;
}