.project{

    position: relative;
    margin-top: 10rem;
}

.project-cont{
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 1rem;
    text-align: center;
    color: rgb(201, 154, 243);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lineLen{
    height: 0.5rem;
    background-color: rgb(201, 154, 243);
    width: 70%;       
}

.eachProjectCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.eachProjectTextCont{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.eachProjectWrapper{
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.eachProjectImgCont{
    flex: 1;
    height: 50%;

    img{
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }
}

.eachProjecth2{
    font-size: 3rem;
}

.eachProjectp{
    font-size: 2rem;
    color: gray;
    font-family: "Pacifico",cursive;
}

.eachProjectButton{
    background-color: rgb(201, 154, 243);
    border: none;
    border-radius: 15%;
    padding: 1rem;
    width: 10rem;
    font-weight: 600;
    font-size: large;
}

a{
    cursor: pointer;
}

.eachProjectButtonCont{
    display: flex;
    gap: 3rem;
}



/* For smaller screens */
@media screen and (max-width: 768px) {

  .project{
    margin-top: 30rem;
    margin-bottom: 10rem;
  }
    .project-cont {
      font-size: 1.5rem;
    }
  
    .eachProjectWrapper {
      flex-direction: column;
      gap: 3rem;
    }
  
    .eachProjectImgCont {
      height: auto;
      margin-bottom: 2rem;
    }
  
    .eachProjectTextCont {
      gap: 3rem;
    }
  
    .eachProjecth2 {
      font-size: 2rem;
    }
  
    .eachProjectp {
      font-size: 1.5rem;
    }
  
    .eachProjectButton {
      width: 8rem;
      padding: 0.8rem;
      font-size: medium;
    }
  }
  
  /* For even smaller screens */
  @media screen and (max-width: 480px) {
    .eachProjectWrapper {
      gap: 1.5rem;
    }
  
    .eachProjecth2 {
      font-size: 1.5rem;
    }
  
    .eachProjectp {
      font-size: 1.2rem;
    }
  
    .eachProjectButton {
      width: 6rem;
      padding: 0.6rem;
      font-size: small;
    }
  }
  