.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
    margin: 0 6rem 0 6rem;
}

.contactTextCont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: default;
}

.contacth1{
    font-size: 4rem;
    line-height: 8rem;
    color: rgb(201, 154, 243);;
}

.formCont{
    flex: 0.7;
    position: relative;

    .phonesvg{
        position: absolute;
        margin: auto;
        top: 2rem;
        left: 8rem;
        height: 15rem;
        width: 15rem;
        stroke: rgb(201, 154, 243);;
        z-index: -1;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input,textarea{
        background-color: transparent;
        border: 2px solid lightgray;
        color: lightgray;
        padding: 1rem;
        border-radius: 1rem;  
    }

    input:hover,textarea:hover{
        background-color: rgb(218, 187, 245);
        color: black;
    }

    button{
        background-color: rgb(201, 154, 243);
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        font-size: medium;
        
    }

    button:hover{
        background-color: rgb(137, 31, 230);
    }
}




@media (max-width: 768px){

    .contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 100%;
        margin: 0 1rem;
        flex-direction: column;
    }

    .contactTextCont{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        cursor: default;
        text-align: center;
    }

    .contacth1{
        font-size: 4rem;
        line-height: 8rem;
        color: rgb(201, 154, 243);;
    }

    .formCont{
        flex: 0.7;
        position: relative;

        .phonesvg{
            position: absolute;
            margin: auto;
            top: 2rem;
            left: 8rem;
            height: 15rem;
            width: 15rem;
            stroke: rgb(201, 154, 243);;
            z-index: -1;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        input,textarea{
            background-color: transparent;
            border: 2px solid lightgray;
            color: lightgray;
            padding: 1rem;
            border-radius: 1rem;  
        }

        input:hover,textarea:hover{
            background-color: rgb(218, 187, 245);
            color: black;
        }

        button{
            background-color: rgb(201, 154, 243);
            padding: 1rem;
            border-radius: 1rem;
            cursor: pointer;
            font-size: medium;
            
        }

        button:hover{
            background-color: rgb(137, 31, 230);
        }
    }

}