.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    height: 100%;
}

.contactTextCont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: default;
}

h1{
    font-size: 4rem;
    line-height: 8rem;
    color: orange;
}

.formCont{
    flex: 0.7;
    position: relative;

    .phonesvg{
        position: absolute;
        margin: auto;
        top: 2rem;
        left: 8rem;
        height: 15rem;
        width: 15rem;
        stroke: orange;
        z-index: -1;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input,textarea{
        background-color: transparent;
        border: 2px solid lightgray;
        color: lightgray;
        padding: 1rem;
        border-radius: 1rem;  
    }

    input:hover,textarea:hover{
        background-color: rgb(249, 220, 165);
        color: black;
    }

    button{
        background-color: orange;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        font-size: medium;
        
    }

    button:hover{
        background-color: rgb(204, 172, 10);
    }
}