*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-snap-align: y mandatory;
  scroll-behavior: smooth;
}

body{
  /* background-color: #0b0b1d; */
  background-color: black;
  color: lightgrey;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}

#Project{
  height: 220vh; 
  /* change it if adding more projects  */ 
}

#About{
  height: 250vh; 
}

a{
  text-decoration: none;
  color: inherit;
}